<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "classpath://hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="java:jollobajano/pm/SessionFactory">

		<!-- <property name="connection.datasource">java:PMDS</property> -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pmdatabase</property>
		<property name="hibernate.connection.username">mats</property>
		<property name="hibernate.connection.password">frukost</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>


		<!-- configuration pool via c3p0 -->
		<property name="connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
                </property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">100</property> <!-- seconds -->
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.timeout">100</property>
		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->


		<property name="connection.pool_size">5</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<!-- Update the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<!-- <property name="transaction.flush_before_completion">true</property> 
			<property name="transaction.auto_close_session">true</property> -->
		<property name="hibernate.order_updates">true</property>
		<property name="jdbc.batch_size">0</property>
		<property name="connection.autocommit">false</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.order_inserts">true</property>

	</session-factory>
</hibernate-configuration>
